@font-face {
  font-family: 'lakeshore';
  src: url('fonts/LAKESHOR-webfont.eot');
  src: url('fonts/LAKESHOR-webfont.eot?#iefix') format('embbeded-opentype'),
    url('fonts/LAKESHOR-webfont.woff') format('woff'),
    url('fonts/LAKESHOR-webfont.ttf') format('truetyle'),
    url('fonts/LAKESHOR-webfont.svg#lakeshore') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'airstreamregular';
  src: url('fonts/Airstream-webfont.eot');
  src: url('fonts/Airstream-webfont.eot?#iefix') format('embbeded-opentype'),
    url('fonts/Airstream-webfont.woff') format('woff'),
    url('fonts/Airstream-webfont.ttf') format('truetyle'),
    url('fonts/Airstream-webfont.svg#airstreamregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  font-size: 10pt;
  background-color: #c1f6e7;
}

a {
  text-decoration: none;
}

.main__header,
.main__footer {
  flex: 0 1 auto;
}

.logo__text,
.footer__text {
  background-color: white;
  text-align: center;
  text-transform: uppercase;
  font-family: lakeshore;
  font-size: 3rem;
}

.main__footer {
  margin-top: 40px;
}

.footer__text {
  font-size: 2rem;
  color: gray;
  padding: 10px;
  margin: 0;
}

.main__content {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
}

.thumbnail__list {
  flex: 0 1 auto;
  order: 2;
  display: flex;
  justify-content: space-around;
  list-style: none;
  padding: 20px 0;

  white-space: nowrap;
  overflow-x: auto;
}
/* 
.thumbnail__nav {
  order: -1;
} */

.thumbnail__image {
  width: 100%;
  display: block;
}

.thumbnail__item {
  display: inline-block;
  min-width: 120px;
  max-width: 120px;
  border: 1px solid rgb(100%, 100%, 100%);
  border: 1px solid rgba(100%, 100%, 100%, 0.8);

  transition: transform 133ms ease-in-out;
}

.thumbnail__item:hover {
  transform: scale(1.2);
}

.thumbnail__title {
  display: block;
  margin: 0;
  padding: 4px 10px;
  background: #248ea9;
  color: rgb(202, 238, 255);
  font-size: 18px;
}

.detail__image {
  width: 90%;
}

.detail__image-container {
  flex: 1 1 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.detail__image-frame {
  position: relative;
  text-align: center;

  transition: transform 333ms cubic-bezier(1, 0.06, 0.28, 1);
}

.is-tiny {
  transform: scale(0.001);
  transition: transform 0ms;
}

.detail__image-title {
  position: absolute;
  bottom: -16px;
  left: 4px;
  font-family: airstreamregular;
  color: white;
  font-size: 2.5em;
  text-shadow: rgba(0, 0, 0, 0.9) 1px 2px 9px;
}

.hidden__detail .detail__image-container {
  display: none;
}

.hidden__detail .thumbnail__list {
  flex-direction: column;
  align-items: center;
}

.hidden__detail .thumbnail__item {
  max-width: 80%;
}

/* media query depends on browser's direction */
@media all and (orientation: landscape) {
  .main__content {
    flex-direction: row;
    overflow: hidden;
  }

  .thumbnail__list {
    flex-direction: column;
    order: 0;
    margin-left: 20px;
    padding: 0 35px;
  }

  .thumbnail__item {
    max-width: 260px;
  }

  .thumbnail__item.thumbnail__item {
    margin-top: 20px;
  }
}
